form#input-task-form.form-horizontal(ng-submit="addTask()")
  div.row
    div.col-xs-7
      input.form-control(type="text", placeholder="Create a new task...", ng-model="taskName", required)
    div.col-xs-3
      span.input-group
        input.form-control(type="text", placeholder="Deadline: dd.mm.yyyy", ng-model="taskDate",
        datepicker-popup="dd-MM-yyyy", ng-init="datePicer.opened=false", is-open="datePicer.opened", readonly, required)
        span.input-group-btn
          button.btn.btn-default(type="button", ng-click="$event.stopPropagation();datePicer.opened=true")
            i(class="glyphicon glyphicon-calendar")
    div.col-xs-2
      input.btn.btn-success(type="submit", value="ADD")
div#tasks(ng-init="filterBy='All'")
  table.table.table-bordered
    tr
      th.col-xs-1 Is finished
      th.col-xs-8
        a(ng-click="reverse=!reverse;order('task', reverse)") Task
        input.search-inp(type="text", ng-model="search.task")
      th.col-xs-2
        a(href="", ng-click="reverse=!reverse;order('date', reverse)") Deadline
      th.col-xs-1 Control
    tr.task(ng-init="hide='false'", ng-mouseover="hide=false",
    ng-mouseleave="hide=true", ng-repeat="task in tasks | filter:search.task | tasksFilter:filterBy")
      td(class="toogle-container col-xs-1 task-field")
        input.toogle(type="checkbox", ng-model="task.status", ng-checked="task.status" ng-click="editTaskStatus(task)")
      td(class="task-name col-xs-8 task-field",ng-init="editTaskname=false",
      ng-mouseover="editTaskname=true", ng-mouseleave="editTaskname=false")
        span(ng-init="isEditName='false'", ng-blur="isEditName='false';editTaskName($event,task)",
        contenteditable="{{isEditName}}", ng-click="isEditName='true'") {{task.task}}
        span.glyphicon.glyphicon-pencil.ctrl-btn(ng-show="editTaskname")
      td.deadline.col-xs-2.task-field(ng-init="editDate=false; dateEditor.edit=false",
      ng-mouseover="editDate=true",ng-mouseleave="editDate=false")

        input.date-edit(type="text", ng-model="newDate",ng-blur="changeDate(task,newDate);dateEditor.edit=false",
        datepicker-popup="dd-MM-yyyy", ng-init="dateEditor.opened=false;newDate=task.deadline", is-open="dateEditor.opened", readonly )
        span.glyphicon.glyphicon-calendar.ctrl-btn(ng-click="$event.stopPropagation();dateEditor.opened=true",ng-show="editDate")
      td(class="task-control col-xs-1 task-field")
        span.glyphicon.glyphicon-trash.ctrl-btn(ng-hide="hide", ng-click="deleteTask($index,task)")
div#footer
  span.select Display:
    select.btn-default( ng-model="filterBy")
      option(selected, value="All") All
      option(value="active") Active
      option(value="finished") Finished
  span.total-tasks.label.label-info Total tasks:
    span.badge {{tasks.length}}
